


import com.zhongshi.framework.common.base.service.BaseService;


/**
* ${config.injectionConfig.map.notes}接口
*
* @author ${author}
* @date ${date}
*/
public interface ${table.serviceName} extends BaseService<${table.entityName}>
{

}